html{
    background-color: lightgray;
}

body {
    font-family: sans-serif; /* (a) Bezszeryfowy krój pisma */
    max-width: 1024px; /* (b) Maksymalna szerokość tekstu */
    margin: 0 auto; /* (c) Tekst na środku ekranu */
    padding: 0 3em; /* (c) Marginesy boczne */
    margin-top: 2em; /* (g) Górny margines tekstu */
    margin-bottom: 2em; /* (g) Dolny margines tekstu */
    line-height: 2em; /* (d) Odstępy między paragrafami */
    background-color: white;
}

h1 {
    font-size: 2em; /* (h) Wielkość elementu h1 */
    color:blue;
}

h2 {
    font-size: 1.5em; /* (h) Wielkość elementu h2 */
    color:darksalmon;
}

h3 {
    font-size: 1.2em; /* (h) Wielkość elementu h3 */
    color:mediumseagreen;
}

article, section {
    margin: 3em 0; /* (e) Odstępy między rozdziałami */
}

p {
    text-align: justify;
}

* {
    box-sizing: border-box; /* (i) Właściwość box-sizing na border-box */
}