html{
    background-color: lightgray;
}

body {
    font-family: sans-serif; 
    max-width: 1024px; 
    margin: 0 auto; 
    padding: 0 3em; 
    margin-top: 2em; 
    margin-bottom: 2em; 
    line-height: 2em; 
    background-color: white;
}

h1 {
    font-size: 2em; 
    color:blue;
}

h2 {
    font-size: 1.5em; 
    color:darksalmon;
}

h3 {
    font-size: 1.2em; 
    color:mediumseagreen;
}

article, section {
    margin: 3em 0; 
}

p {
    text-align: justify;
}

* {
    box-sizing: border-box; 
}