body {
    margin: 0;
    padding: 0;
    min-width: 240px; 
    overflow: hidden;
}

#sidebar {
    background: #f0f0f0;
    width: 120px;
    float: left;
}

#content {
    padding: 20px; 
    width: auto;
}

article {
    margin: 0 auto; 
    width: auto;
    max-height: 1000px;
    overflow-y: auto;
}
#title_element{
    height: 70px;
    width: 100%;
    text-align: center;
}
